* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Merriweather Sans', sans-serif;
}

.gallery-image a {
  display: block;
}

.wrapper {
  width: 80%;
  max-width: 976px;
  margin: 0 auto;
}

.gallery-image {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 6%;
}

.gallery-image-thumbnail {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input[type="search"] {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: inherit;
  font-size: 1rem;
  width: 300px;
  display: block;
}

/* ------- MEDIA QUERIES ------- */

@media (min-width: 300px) {
  .gallery-image {
    float: left;
    width: 47%;
    max-width: none;
  }

  .gallery-image:nth-of-type(odd) {
    margin-right: 6%;
  }
}

@media (min-width: 548px) {
  .gallery-image {
    width: 29.333333%;
  }

  .gallery-image:nth-of-type(odd) {
    margin-right: 0;
  }

  .gallery-image:nth-of-type(3n+1),
  .gallery-image:nth-of-type(3n+2) {
    margin-right: 6%;
  }
}

@media (min-width: 868px) {
  .gallery-image {
    width: 20.5%;
  }

  .gallery-image:nth-of-type(3n+1),
  .gallery-image:nth-of-type(3n+2) {
    margin-right: 0;
  }

  .gallery-image:nth-of-type(4n+1),
  .gallery-image:nth-of-type(4n+2),
  .gallery-image:nth-of-type(4n+3) {
    margin-right: 6%;
  }
}


